<h1 class="page-title">{{ page.title }}</h1>

<section class="job-list" id="temp-seasonal-job-vacancies">
    <h1>Temporary Seasonal Job Vacancies (1039)</h1>
    <div>{{ page.temp_seasonal_job_vacancies | raw }}</div>
</section>

<section class="job-list" id="permanent_job_vacancies">
    <h1>Permanent Seasonal Job Vacancies (PSE)</h1>
    <div>{{ page.permanent_job_vacancies | raw }}</div>
</section>

<section id="hiring-process">
    <div>{{ page.content | raw }}</div>
</section>