<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="widget-contact" style="text-align:right;">

                        <address>
                          <strong>The Siskiyou Rappel Crew</strong><br>
                          657 Flaming Road<br>
                          Grants Pass, OR 97526
                        </address>

                        <address>
                          <a href="mailto:dquinones@fs.fed.us">dquinones@fs.fed.us</a>
                        </address>
                        
                        <address>
                            <abbr title="Phone">P:</abbr> (541) 471-6891<br>
                            <abbr title="Fax">F:</abbr> (541) 471-6849
                        </address>
                        
                        <address>
                            <ul class="company-social" style="text-align:right;">
                                <li class="social-facebook"><a href="https://www.facebook.com/Siskiyou-Rappel-Crew-116587918401126/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                        </address>

                        N42.50639°<br>
                        W123.38243°<br>
                        Airport Identifier: <a href="http://www.airnav.com/airport/3s8">3S8</a>

                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="widget-contact">

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1095.1777128784452!2d-123.384007896843!3d42.498581459857625!2m3!1f0!2f41.27362843638052!3f0!3m2!1i1024!2i768!4f20!3m3!1m2!1s0x0%3A0xab842e41bb1e2015!2sThe+Siskiyou+Rappel+Crew!5e1!3m2!1sen!2sus!4v1478498235484" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    

                    </div>
                </div>
                <div class="col-sm-2"></div> 
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; siskiyourappellers.com {{ 'now'|date("Y") }}
                </div>
            </div>

        </div>
    </div>
</footer>
