<div id="posts" class="container">
	
	<div class="row">
	    {% set posts = entries('posts').type('default').recent().take(25).get() %}

	    {# include "anomaly.module.posts::posts/partials/posts" with {"posts": posts} #}

	    {# posts.links|raw #}

	    {% for post in posts %}
	    	<div class="post">
	    		<span class="post-marker"></span>
		    	<div class="post-title">{{ post.title }}</div>
		    	<div class="post-date"> - {{ carbon(post.created_at).diffForHumans() }}</div>
		    	<div class="post-body">
		    		{{ post.content | raw }}
	    		</div>
    		</div>
    		
	    {% endfor %}

    </div>
</div>
