<p><strong>Permanent GS-4/5 Senior Firefighters:</strong></p>
<p><strong></strong>We currently have one vacancy at this grade level and are looking to fill at our regional fire hire event in Olympia, WA January 21-February 4.</p>
<p><a href="https://www.usajobs.gov/GetJob/ViewDetails/455046300/">https://www.usajobs.gov/GetJob/ViewDetails/455046300/</a></p>
<p><strong><br></strong></p>
<p><strong>Permanent GS-6/7 Squad Leaders:</strong><br><br></p><p>There are currently no vacancies at this time.</p>
<p><strong><br></strong></p>
<p><strong>Perm Fire Hire Timelines:</strong><br><strong>&nbsp;</strong>October 1st-October 31st Regional outreach for all fire positions in R-6<br><strong></strong>&nbsp;November 1st-November 15th vacancies open in USA JOBS<br><strong>&nbsp;</strong>January 21st-January 30th Subject Matter Expert (SME) application review<br><strong></strong>&nbsp;January 30th- February 4th Recommendation / Selection weeks</p>