<p><strong>Permanent GS-4/5 Senior Firefighters:</strong></p>
<p><strong></strong>No current vacancies, but with perm Fire Hire being implemented, we encourage you to apply for any position you are interested in for back fill opportunities.</p>
<p><a href="https://www.usajobs.gov/GetJob/ViewDetails/455046300/">https://www.usajobs.gov/GetJob/ViewDetails/455046300/</a></p>
<p><strong><br></strong></p>
<p><strong>Permanent GS-6/7 Squad Leaders:</strong><br>There are currently 2 vacancies on the crew, the selections have been made and approved by our Forest Supervisor and are in the hands of ASC for finalization.</p>
<p><a href="https://www.usajobs.gov/GetJob/ViewDetails/455046100/">https://www.usajobs.gov/GetJob/ViewDetails/455046100/</a></p>
<p><strong><br></strong></p>
<p><strong>Perm Fire Hire Timelines:</strong><br><strong>&nbsp;</strong>October 1st-October 31st Regional outreach for all fire positions in R-6<br><strong></strong>&nbsp;November 1st-November 15th vacancies open in USA JOBS<br><strong>&nbsp;</strong>January 21st-January 30th Subject Matter Expert (SME) application review<br><strong></strong>&nbsp;January 30th- February 9th Recommendation / Selection weeks</p>