{% for menu in page.menus %}
    <section class="linklist">
    
        <h1>{{ menu.name }}</h1>
        <ul>
        {% for link in links(menu).get() %}
            <li>
                <a href="{{ link.url }}"><strong>{{ link.title }}</strong> - {{ link.entry.description }}</a>
            </li>
        {% endfor %}
        </ul>

    </section>
{% endfor %}