<p>We'll be taking a break for the winter - stay tuned for more news in <strong>January.</strong></p>
<ol><li>List item 1</li><li>List item 2</li></ol>
<p><img src="/files/images/banner-01.jpg" style="width: 378px; height: 118px;" width="378" height="118"><br></p>